body {
    background-image: url(https:dvsoshea.github.io/art101/lab4/img/images.jpeg);
}

#textbox{
    padding: 20px;
    width: 30%;
    background-color:azure;
}

#laundrydisaster {
    position: relative;
    left: 40%;
}