body {
    background-image: url(https://www.mediastorehouse.com/p/173/boiling-water-showing-bubbles-1112479.jpg);
}

#textbox{
    padding: 20px;
    width: 30%;
    background-color:azure;
}

#laundrydisaster {
    position: relative;
    left: 40%;
}