/*
    CSS file for lab 12
    created by Davis to be 
    more thorough
*/

body{
    background-color: blue;
    color: darkorange;
    text-align: center;
}

#output{
    color: darkorange;
    border-color: coral;
    border-style: dotted;
    border-width: 10px;
}
